<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CSVFilePath" value="C:\Users\test\csv" />
    <add key="ImportSuccessPath" value="C:\Users\test\success" />
    <add key="ImportFailPath" value="C:\Users\test\err" />
    <add key="Importlog" value="C:\Users\test\log" />
    <add key="ServiceUri" value="https://ax.dynamics.com/" />
    <add key="UserName" value="admin@test.com" />
    <add key="Password" value="password" />
    <add key="ActiveDirectoryResource" value="https://ax.dynamics.com" />
    <add key="ActiveDirectoryTenant" value="https://sts.windows.net" />
    <add key="ActiveDirectoryClientAppId" value="" />
    <add key="ActiveDirectoryClientAppSecret" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SmtpHost" value="1.0.0.0" />
    <add key="SmtpPort" value="80" />
    <add key="SmtpDomain" value="exchange" />
    <add key="SmtpUser" value="administrator" />
    <add key="SmtpPassword" value="password" />
    <add key="SmtpCcuser" value="" />    
  </appSettings>
 </configuration>