<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--
    <add key="AdvancePaymentFilePath" value="C:\Users\dchung\test\advpay" />
    <add key="InvoiceFilePath" value="C:\Users\dchung\test\inv" />
    <add key="RecoveryFilePath" value="C:\Users\dchung\test\rec" />
    <add key="ImportSuccessPath" value="C:\Users\dchung\test\success" />
    <add key="ImportFailPath" value="C:\Users\dchung\test\err" />
    <add key="Importlog" value="C:\Users\dchung\test\log" />
    <add key="ServiceUri" value="https://redac-sand1devaos.sandbox.ax.dynamics.com/" />
    <add key="UserName" value="crm_test@redacinc.com" />
    <add key="Password" value="Redac@!2016" />
    <add key="ActiveDirectoryResource" value="https://redac-sand1devaos.sandbox.ax.dynamics.com" />
    <add key="ActiveDirectoryTenant" value="https://sts.windows.net/redacinc.com" />
    <add key="ActiveDirectoryClientAppId" value="7139ca74-6c4a-4b53-8e9a-49c56fc5e652" />
    <add key="ActiveDirectoryClientAppSecret" value="6InYCSI10oIXXCXzcJgvKcg0fneYQ/iUsyWM5OUHcmk=" />
    -->
    <add key="Alabama" value="AL" />
    <add key="Alaska" value="AK" />
    <add key="Arizona" value="AZ" />
    <add key="Arkansas" value="AR" />
    <add key="California" value="CA" />
    <add key="Colorado" value="CO" />
    <add key="Connecticut" value="CT" />
    <add key="Delaware" value="DE" />
    <add key="Florida" value="FL" />
    <add key="Georgia" value="GA" />
    <add key="Hawaii" value="HI" />
    <add key="Idaho" value="ID" />
    <add key="Illinois" value="IL" />
    <add key="Indiana" value="IN" />
    <add key="Iowa" value="IA" />
    <add key="Kansas" value="KS" />
    <add key="Kentucky" value="KY" />
    <add key="Louisiana" value="LA" />
    <add key="Maine" value="ME" />
    <add key="Maryland" value="MD" />
    <add key="Massachusetts" value="MA" />
    <add key="Michigan" value="MI" />
    <add key="Minnesota" value="MN" />
    <add key="Mississippi" value="MS" />
    <add key="Missouri" value="MO" />
    <add key="Montana" value="MT" />
    <add key="Nebraska" value="NE" />
    <add key="Nevada" value="NV" />
    <add key="New Hampshire" value="NH" />
    <add key="New Jersey" value="NJ" />
    <add key="New Mexico" value="NM" />
    <add key="New York" value="NY" />
    <add key="North Carolina" value="NC" />
    <add key="North Dakota" value="ND" />
    <add key="Ohio" value="OH" />
    <add key="Oklahoma" value="OK" />
    <add key="Oregon" value="OR" />
    <add key="Pennsylvania" value="PA" />
    <add key="Rhode Island" value="RI" />
    <add key="South Carolina" value="SC" />
    <add key="South Dakota" value="SD" />
    <add key="Tennessee" value="TN" />
    <add key="Texas" value="TX" />
    <add key="Utah" value="UT" />
    <add key="Vermont" value="VT" />
    <add key="Virginia" value="VA" />
    <add key="Washington" value="WA" />
    <add key="West Virginia" value="WV" />
    <add key="Wisconsin" value="WI" />
    <add key="Wyoming" value="WY" />
    <add key="United States" value="USA" />
    <add key="USA" value="USA" />
    <add key="Japan" value="JPN" />
    <add key="Company Check" value="C-CHECK" />
    <add key="Bank Check" value="C-CHECK" />
    <add key="Wire Transfer" value="C-CHECK" />
    <add key="Credit Card" value="C-CHECK" />
    <add key="RedacCompany" value="RRI" />
    <add key="JournalName" value="CRM_GJ" />
    <add key="Currency" value="USD" />
    <add key="CustomerGroupIdCom" value="CRMCompany" />
    <add key="CustomerGroupIdTen" value="CRMTenant" />
    <add key="CustomerGroupIdOwn" value="CRMOwner" />
    <add key="CustomerGroupIdOth" value="CRMOther" />
    <add key="PartyTypeOrg" value="Organization" />
    <add key="PartyTypePsn" value="Person" />
    <add key="VendorGroupId" value="10" />
    <add key="VendorPartyType" value="Organization" />
    <add key="InvoiceLedger" value="40110" />
    <add key="InvoiceLedgerOther" value="40140" />
    <add key="AdvancedPostingCustomer" value="11099" />
    <add key="AdvancedPostingVendor" value="20001" />
    <add key="InvoicePostingcustomer" value="11001" />
    <add key="SmtpHost" value="172.31.5.42" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpDomain" value="redacinc" />
    <add key="SmtpUser" value="administrator" />
    <add key="SmtpPassword" value="12125992575" />
    <add key="SmtpCcuser" value="support-redac@jbs.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.11.0.0" newVersion="6.11.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.11.0.0" newVersion="6.11.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.11.0.0" newVersion="6.11.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>